# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
ENV/
.venv/
.env/

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# macOS
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# Local environment files
*.env
.env.*

# Coverage reports
htmlcov/
.coverage
coverage.xml
.cache
nosetests.xml
*.cover
*.py,cover

# Test reports
junit*.xml

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# pipenv
Pipfile.lock

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype
.pytype/

# Pytest
.pytest_cache/

# Ignore everything except tracked files
!.gitignore
